.container {
    background-color: #e0e8ff;
    display: flex;
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    justify-content: center;
}

/* .headImage {
    background-image: url("../images/illustration-hero.svg");
    background-repeat: no-repeat;
} */

.card {
    font-family: "Red Hat Display", sans-serif;
    width: 25em;
    height: 40em;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.submission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid black 1px; */
    background-color: #f8f9fe;
    height: 5.5em;
    border-radius: 15px;
    margin: 0 1em 1.5em 1em;
}

.submissionImg {
    width: 3em;
    height: 3em;
    align-self: center;
    margin-left: 1em;
}

.submissionValidate {
    color: #6c5fd6;
    font-weight: 900;
    font-size: 0.9em;
    width: 7em;
    border: none;
    background-color: #f8f9fe;
}

.submissionTitle {
    margin-bottom: 0.5em;
}

.abonement {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
}

h1 {
    font-weight: 900;
    font-size: 1.5em;
    margin: 1em 0;
}

h2 {
    font-weight: 700;

    /* margin: 1em 0; */
}

p {
    font-weight: 500;
    font-size: 1.1em;
    color: #cdcdd0;
}

.text {
    margin: 0 1em 1.5em 1em;
    color: #cdcdd0;
}

.insideCarde {
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 1.7em;
}

.blueButton {
    border-radius: 15px;
    margin: 0 1em 1.5em 1em;
    height: 3.25em;
    background-color: #382ae1;
    color: white;
    font-weight: 900;
    font-size: 0.9em;
    border: none;
}
.whiteButton {
    margin: 0 1em 1.5em 1em;
    height: 3.25em;
    font-weight: 900;
    font-size: 0.9em;
    border: none;
    background-color: white;
}
